h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}


     /* Button Text */
.button-text {
color: #FFF;
background-color: #4D5AE5;
border-radius: 4px;
cursor: pointer;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
display: block;
min-width: 169px;
height: 56px;
border: none;
cursor: pointer;
margin-left: auto;
margin-right: auto;
}

    button:hover,
    button:focus {
    background: var(--OCEAN, #404BBF);
}

body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
/* Header */
.page-navigation{
    width: 452px;
    display: flex;
    column-gap: 76px;
    align-items: center;
}
.menu {
    display: flex;
    gap: 40px;
}

.page-header-container {
    border-bottom: 1px solid #e7e9fc;
}

.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
        color: #4d5ae5;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
        /* padding-left: 156px; */
}

.logo-span{
    color: #2e2f42;
}

.menu-link {
        display: block;
        color: var(--NAVY-BLUE, #2E2F42);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus{
    color: var(--OCEAN, #404BBF);
}

.page-address{
    display: flex;
    font-style: normal;
}

.address-item {
    display: flex;
}

.address{
    display: flex;
    gap: 40px;
}

.address-link {
    display: block;
    color: var(--SLATE, #434455);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
}

.address-link:hover,
.address-link:focus {
    color: var(--OCEAN, #404BBF);
}

/* Main */

/* Section- Effective Solutions */
.first-section{
    background: var(--NAVY-BLUE, #2E2F42);
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
    padding: 188px 0;
}

.first-title{
    color: var(--WHITE, #FFF);
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
}


/* Section Feature */

.feature {
    display: flex;
    gap: 24px;
}

.feature-item {
    display: flex;
    width: calc((100% - 72px) / 4);
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    
}
.hidden-title{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
    
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
/* Section Our Team */

.third-title{
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.feature-item-text{
    color: var(--SLATE, #434455);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}

.third-section{
    background: var(--CLOUD, #F4F4FD);
    text-align: center;
}

.second-title{
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em  ;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.team {
    display: flex;
    gap: 24px;
}
.team-item {
    display: flex;
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
}
.our-team-container {
padding: 32px 0;
text-align: start;
}

/* Section Portfolio */
.portfolio {
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
}

.portfolio-item {
    margin-left: 0px;
    width: calc((100% - 48px)/3);
}

.portfolio-item-text{
    color: var(--SLATE, #434455);
    
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.second-logo {
    color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 101.5px;
    display: inline-block;
    margin-bottom: 16px;
}

.second-logo-span{
    color: var(--CLOUD, #F4F4FD);
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

footer{
    background: var(--NAVY-BLUE, #2E2F42);
    height: 312px;
    padding: 100px 0
}



.footer-text{
    display: inline-block;
    color: var(--CLOUD, #F4F4FD);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 17.5px;
        text-align: start;
        flex-shrink: 0;
}
